
parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    treatPhpDocTypesAsCertain: false
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
